[submodule "tools/programmer/kbelf"]
	path = tools/programmer/kbelf
	url = https://robotman2412@github.com/robotman2412/KiloElfLoader
[submodule "riscv-tests"]
	path = sim/riscv-tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests
[submodule "prog/coremark/coremark"]
	path = prog/coremark/coremark
	url = https://github.com/eembc/coremark
